{% if include.paper.doc-url %}<a href="{{ include.paper.doc-url }}">{% endif %}
  {{ include.paper.title }}{% if include.paper.doc-url %}</a>{% endif %}<br/>
{% if include.paper.authors %}{{ include.paper.authors }}.{% endif %}  
{% case include.paper.paper-type %}
  {% when "inproceedings" %}
    In <i>{{ include.paper.booktitle }}</i>.
      {% if include.paper.volume %} Vol. {{ include.paper.volume }}{% endif %}{% if include.paper.number %} ({{ include.paper.number }}){% endif %}
      {% if include.paper.article%} Article {{ include.paper.article}}.{% endif %}
      {% if include.paper.pages %} Pages {{ include.paper.pages }}.{% endif %}.
  {% when "article" %}
    In <i>{{ include.paper.journal }}</i>,
      {% if include.paper.volume %}{{ include.paper.volume }}{% endif %}{% if include.paper.number %}({{ include.paper.number }}){% endif %}
      {% if include.paper.article%} Article {{ include.paper.article}}.{% endif %}
      {% if include.paper.pages %} Pages {{ include.paper.pages }}.{% endif %}.
  {% when "dissertation" %}
    Dissertation, {{ include.paper.institution }}.
{% endcase %} 

{{ include.paper.year }}. 
{% if include.paper.note %} 
  {{ include.paper.note }} 
{% endif %}


<!-- links to paper/datasets/posters -->
{% if include.paper.paper-loc %}<a href="{{ include.paper.paper-loc }}" target="_blank" class="btn btn-success"> <i class="fa fa-file-pdf-o"></i>Paper </a>{{% endif %}

<!--
<ul>
{% if include.paper.description %}<li style="list-style-type:square"><p align="justify"><b>Description:</b> {{ include.paper.description }}</p></li>{% endif %} 
{% if include.paper.abstract %}<li style="list-style-type:square"><p align="justify"><b>Abstract:</b> {{ include.paper.abstract }}</p></li>{% endif %} 
</ul>
-->
